{% extends "app/index.html" %}

{% block content %}
<div class="table">
    <h1>Employee Details</h1>
    <table border=1>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Department</th>
                <th>Phone</th>
                <th>Salery</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in emp %}
                <tr>
                    <td>{{employee.name}}</td>
                    <td>{{employee.email}}</td>
                    <td>{{employee.position}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.phone}}</td>
                    <td>{{employee.salery}}</td>
                    <td><a class='record' href="{% url 'update' employee.id %}">update</a></td>
                    <td><a class='record' href="{% url 'delete' employee.id %}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock  %}