{% extends "app/index.html" %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <p class='popup' {% if message.tags %}{% endif %}>{{message}}</p>
    {% endfor %}
{% endif %}

<form action="" method='POST'>
    <h1>Employee Update Form</h1>
    {% csrf_token %}
    {% for row in form %}
        {{row.label_tag}}
        <p>{{row}}</p>
        <p>{{row.errors | striptags}}</p>
    {% endfor %}

    <button type='submit'>Submit</button>
</form>

{% endblock  %}