*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    text-align: center;
    padding: 20px;
}
a{
    color: orangered;

}
h6{
    text-align: center;
    background-color: orangered;
    color: white;
    padding: 10px;
    width: 340px;
    border-radius: 10px;
    font-size: 20px;
}
.Image-view{
    padding: 2rem 4rem;
}
.image-heading{
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: underline;
    /* padding-bottom: 2rem; */
}
.image-content{
    padding: 2rem 4rem;
    /* background-color: red; */

}
.image-row{
    margin-block: 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.images{
    box-shadow: 0 0 20px black;
    padding: 10px;
    border-radius: 10px;
}
img{
    width: 240px;
    height: 160px;
}
.btn{
    display: flex;
    margin-inline: 20px;
    margin-block: 10px;
}
.bt{
    margin-inline: 10px;
    background: orangered;
    flex: 1;
    text-align: center;
    padding: 8px 12px;
    border-radius: 10px;
}
.EDIT{
    color: white;
    text-decoration: none;
}