<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="image-uploader">
        <h1 class='heading'>UPDATE</h1>
        <form action="" method='POST'>
            {% csrf_token %}
            {% for row in form %}
                <p class='label'>{{row.label_tag}}</p>
                {{row}}
                <p>{{row.errors}}</p>
            {% endfor %}
            <button type='submit'>Update</button>
        </form>
    <h6 class='page'>GOTO <a href={% url 'view' %}>Image PAGE</a></h6>
    </div>
</body>
</html>