{% extends "app/index.html" %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <p class='popup' {% if message.tags %}{% endif %}>{{message}}</p>
    {% endfor %}
{% endif %}

{% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p>{{error}}</p>
        {% endfor %}
{% endif %}

<form action="" method='POST'>
    <h1>SIGNIN</h1>

    {% csrf_token %}
    
    {% for row in form %}
        {{row.label_tag}}
        <p>{{row}}</p>
        <p>{{row.errors|striptags}}</p>
    {% endfor %}
    <button type='submit'>Submit</button>

    <a class='registration' href="{% url 'login' %}">LOGIN HERE</a>

</form>

{% endblock %}